{% extends 'main.html' %}
{% block register %}
    <div id="reg"><h1>Регистрация</h1></div>
    <div style="margin-top:220px; margin-left: 41%;">
        <form action="/auth/register/" method="post">
            {% csrf_token %}
            <p title="Не более 30 символов. Только буквы, цифры и символы @/./+/-/_."><label for="id_username">Имя пользователя</label><br>
            {{ form.username }}<br></p>
            <label for="id_password1">Пароль</label><br>
            {{ form.password1 }}<br>
            <p title="Введите тот же пароль, для подтверждения"><label for="id_password2">Повторите пароль</label><br>
            {{ form.password2 }}<br></p>
            <input class="button" id="U2" type="submit" value="Запомнить">

        </form>
    </div>
{% endblock %}