body {
    background: #E0E0E0;
}

.up_place {
    background: #E0E0E0;
    width: 100%;
    margin-left: -16px;
    margin-top: -7px;
    height: 45px;
}

#step_back {
    margin-left: 18px;
    margin-top: 8px;
    position: absolute;
    color: black;
    font-size: 18px;
    outline: none;
}

#lef1 {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-top: 7px;
    margin-left: 40%;
    position: absolute;
    outline: none;
}

#step_back:hover, #lef1:hover {
    color: #CCCCCC;
}

.aut {
    margin-top: 200px;
}

#Label {
    padding: 7px 5px 5px 4px;
    border-radius: 20px;
    background: #CCCCCC;
    color: black;
    text-decoration: none;
    outline: none;
}

#Label:hover {
    background: #CCCCCC;
    color: #CCCCCC;
}

.button {
    background:#CCCCCC;
    color: black;
    padding: 0px;
    border: none;
    font-weight: normal;
}

button::-moz-focus-inner,
select::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    /* */
    border: none;
}

.button:hover {
    background:#CCCCCC;
    color: #CCCCCC
}

#U1 {
    width: 63px;
    height: 30px;
}

#U2 {
    width: 185px;
    height: 40px;
}

#reg {
    position: absolute;
    margin-top: -150px;
    margin-left: 37%;
}

.error {
    color: red;
    font-size: 11px;
}

.notes {
    width: 70%;
    margin-left: 18%;
}

.tiny_stile {
    border: 1px solid #CCCCCC;
    background: none repeat scroll 0 0 #C1C1C1;
}

